/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; margin: 0; padding: 0; border: 0; background: #FFFFFF;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
img { border: none; }
table, tr, td, tr { border-collapse: collapse; vertical-align: top; text-align: left;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; }
a { color: #8D0D19;}

td, th {
  padding: 5px;
}

#header { height: 70px; text-align: left; background: #1A446C; color: #D4E6F4; }
#header h1 { padding: 1em; }

/* Note: IE 5 & 6 won't understand min-height */
#main { min-height: 780px; /*width: 100%; */ background: #EEE4B9; padding: 2em;}

#footer { height: 2em; padding: 1em; text-align: center; 
  background: #1A446C;  color: #D4E6F4; }

table.bordered tr th, table.bordered tr td { border: 1px solid #000000; }

#pagination .selected { font-weight: bold; color: #8D0D19;}